[run]
branch = True
include =
        toolkit/*

omit =
        *tests*

[report]
fail_under = 90
skip_covered = True
skip_empty = True
exclude_lines = 
        pragma: no cover
        if __name__ == .__main__.: